__pycache__/
*.py[cod]
.env
.venv/
venv/
# Jupyter notebooks
.ipynb_checkpoints/
# Data files
# *.csv
!dataset/raw/*.csv
*.sqlite3
*.db
# Model artifacts
*.joblib
*.pkl
# Logs
*.log
# OS files
.DS_Store
# Streamlit secrets (do not commit)
.secrets
